h1{
    color: #116ce3;
}
.botones{
    height: 30px;
    width: 30px;
    margin-left: -3px;
    
}
.remove{
    background-image: url(../img/remove.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}
.edit{
    background-image: url(../img/edit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}
.view{
    background-image: url(../img/view.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
}
tr:nth-child(even) {background-color: #f2f2f2;}